
.player {
  position: absolute;
  width: 40px;
  height: 40px;
  background: blue;
}
@media (max-width: 600px) {
  .player {
    width: 40px;
    height: 40px;
  }
}
#controls {
  position: fixed;
  bottom: 20px;
  left: 20px;
}

#controls button {
  width: 70px;
  height: 70px;
  font-size:30px;
  margin: 10px;
}